.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 65px);
  background: linear-gradient(135deg, #383677, #bf2633);
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 80%;
  overflow: hidden;
}

.title {
  color: #1890ff !important;
}

.footerText {
  display: block;
  margin-top: 16px;
}

.formWrapper {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 16px;
}
